@import './CSS/buttons.css';
@import './CSS/forms.css';
@import './CSS/tables.css';
@import './CSS/navBar.css';
@import './CSS/inputs.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Heebo:wght@400;500;700&display=swap');

/* Body Styling */
body {
  margin: 0;
  padding-top: 120px; /* Ensure enough space for the navbar */
  font-family: 'Heebo', sans-serif;
  background-color: #f9f0ff; /* Light lilac background */
  color: #4a4a4a;
  direction: rtl;
  text-align: right;
}


/* English text specific */
h1, h2, h3, h4, p, .english-text {
  font-family: 'Poppins', sans-serif; /* Modern English font */
}

/* General Layout */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05); /* Softer shadow for a dreamy look */
}
